<%= form_with(model: traffic_camera, local: true) do |form| %>
  <% if traffic_camera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(traffic_camera.errors.count, "error") %> prohibited this traffic_camera from being saved:</h2>

      <ul>
      <% traffic_camera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :is_operational %>
    <%= form.check_box :is_operational %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
