<p id="notice"><%= notice %></p>

<h1>Traffic Cameras</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Name</th>
      <th>Is operational</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traffic_cameras.each do |traffic_camera| %>
      <tr>
        <td><%= traffic_camera.latitude %></td>
        <td><%= traffic_camera.longitude %></td>
        <td><%= traffic_camera.name %></td>
        <td><%= traffic_camera.is_operational %></td>
        <td><%= link_to 'Show', traffic_camera %></td>
        <td><%= link_to 'Edit', edit_traffic_camera_path(traffic_camera) %></td>
        <td><%= link_to 'Destroy', traffic_camera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traffic Camera', new_traffic_camera_path %>
