<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @traffic_camera.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @traffic_camera.longitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @traffic_camera.name %>
</p>

<p>
  <strong>Is operational:</strong>
  <%= @traffic_camera.is_operational %>
</p>

<%= link_to 'Edit', edit_traffic_camera_path(@traffic_camera) %> |
<%= link_to 'Back', traffic_cameras_path %>
