<div class="queryBar">
  <%= form_tag camera_search_results_path, :method => :get do %>
    Enter Your Query Address: <%= text_field_tag :query %>
    <br>
  <%= submit_tag "Submit", :method => :get do %>
    <%end %>
  <% end %>
</div>