<h3>Query: <%= params[:query] %></h3>
<br>
<br>
<b>Result:</b> <%= @traffic_camera.name %>
<br>
<b>Distance:</b> <%= @distance %> miles!
<br/>
<br>
<%= link_to 'Try Another Search', new_camera_search_path %>